body{

    font-family: Arial, Helvetica, sans-serif;

    background-color: #f4f4f4;

}

.card{

    width: 300px;

    margin: 100px auto;

    padding: 20px;

    background-color: white;

    border-radius: 10px;

    box-shadow: 0px 0px 10px #ccc;

}

input{

    width: 100%;

    padding: 10px;

    margin-bottom: 10px;

}

button{

    width: 100%;

    padding: 10px;

    border: none;

    background-color: royalblue;

    color: white;

    cursor: pointer;

}

.borda-vermelha{

    border: 2px solid red;

}

span{

    color: red;

}