.container{
    gap: 20px;
    height: 100vh;
    display: flex;
    background-color: beige;
    justify-content:center;
    align-items: center;
    flex-direction: center;
}

.box{
    width: 100px;
    height: 100px;
    background-color: purple;
    margin: 10px;
}